In [7]:
import pandas as pd

# read csv file
plstudent = pd.read_csv("程式語言選課.csv")
multimediastudent = pd.read_csv("多媒體選課.csv")
plstudent.head()

          學號   姓名  角色
0  41071120H  丁煦芊  學生
1  41071122H  吳亞蓉  學生
2  60971037H  吳沛龍  學生
3  61071009h  吳詩怡  學生
4  40971122H  廖于任  學生

In [8]:
plstu_id= plstudent.drop_duplicates(subset=['學號'])
mulstu_id= multimediastudent.drop_duplicates(subset=['學號'])
plstu_id.head()

          學號   姓名  角色
0  41071120H  丁煦芊  學生
1  41071122H  吳亞蓉  學生
2  60971037H  吳沛龍  學生
3  61071009h  吳詩怡  學生
4  40971122H  廖于任  學生

In [9]:
PL = set(plstu_id['學號'].str.upper()) #強制將所有學號的英文字母都變成大寫
MUL = set(mulstu_id['學號'].str.upper())
PL

{'40871117H',
 '40871232H',
 '40923117L',
 '40923213L',
 '40971116H',
 '40971117H',
 '40971122H',
 '40971125H',
 '40971130H',
 '40971203H',
 '40971225H',
 '40971229H',
 '41071101H',
 '41071102H',
 '41071103H',
 '41071104H',
 '41071105H',
 '41071106H',
 '41071107H',
 '41071108H',
 '41071109H',
 '41071110H',
 '41071111H',
 '41071112H',
 '41071115H',
 '41071116H',
 '41071117H',
 '41071118H',
 '41071119H',
 '41071120H',
 '41071122H',
 '41071124H',
 '41071127H',
 '41071129H',
 '41071132H',
 '41071133H',
 '41071134H',
 '41071205H',
 '41071211H',
 '41071213H',
 '41071227H',
 '41071229H',
 '41171212H',
 '60971037H',
 '61071009H',
 '91199015Y',
 'PECU'}

In [11]:
print(PL&MUL)#交集 s1.intersection(s2)

{'40971130H', '40971117H', '40971229H', '40971203H', '41071205H', '40971122H', '40971225H', '40971116H'}

In [12]:
print(PL|MUL)#聯集 s1.union(s2)

{'60971037H', '40971117H', '41071122H', '41071120H', '40871232H', '40971227H', '41071111H', '40971111H', '40971122H', '40971213H', '40971222H', '40871117H', '40971128H', '41071213H', '41071104H', '41071117H', '91199015Y', '41071229H', '40971214H', '61071009H', '41071124H', '40971209H', '41071133H', '40971208H', '40971229H', '40971204H', '40923117L', '60508014E', '41071115H', '40923213L', '41071103H', '40971216H', 'YTING', '40971202H', '40971203H', '41071110H', '41071205H', '41071112H', '41071102H', '41071118H', '40971113H', '40971115H', '41071107H', '41071106H', '40971114H', '40971121H', '40871123H', '40871225H', '41071101H', '40971130H', '40971207H', '40771213H', '41071108H', '41071109H', '41071119H', '41071116H', '40971105H', '40971108H', '41071127H', '40971231H', '40743117S', '41071132H', '41071129H', '41071105H', '40971125H', 'PECU', '40971103H', '41071134H', '41071211H', '40800116E', '40971118H', '40971119H', '41171212H', '61108025E', '41071227H', '40947062S', '40971104H', '40971124H', '40847058S', '40971225H', '40971116H', '40971226H'}

In [13]:
print(PL-MUL)#差集 s1.difference(s2)

{'41071102H', '41071118H', '60971037H', '41071122H', '41071120H', '40871232H', '41071107H', '41071106H', '41071111H', '41071101H', '40871117H', '41071213H', '41071108H', '41071104H', '41071109H', '41071117H', '41071119H', '91199015Y', '41071116H', '41071127H', '41071229H', '61071009H', '41071124H', '41071132H', '41071133H', '41071129H', '41071105H', '40971125H', '40923117L', 'PECU', '41071134H', '41071211H', '41071115H', '41171212H', '40923213L', '41071103H', '41071227H', '41071110H', '41071112H'}

In [14]:
print(PL-MUL)#差集 s2.difference(s1)

{'41071102H', '41071118H', '60971037H', '41071122H', '41071120H', '40871232H', '41071107H', '41071106H', '41071111H', '41071101H', '40871117H', '41071213H', '41071108H', '41071104H', '41071109H', '41071117H', '41071119H', '91199015Y', '41071116H', '41071127H', '41071229H', '61071009H', '41071124H', '41071132H', '41071133H', '41071129H', '41071105H', '40971125H', '40923117L', 'PECU', '41071134H', '41071211H', '41071115H', '41171212H', '40923213L', '41071103H', '41071227H', '41071110H', '41071112H'}

In [15]:
print(PL^MUL)#對稱差集(聯集-交集) s1.symmetric_difference(s2)

{'60971037H', '41071120H', '40871232H', '40971111H', '40971222H', '40971128H', '41071213H', '91199015Y', '41071229H', '40971214H', '41071124H', '40971204H', '41071115H', '40923213L', '41071103H', '40971216H', 'YTING', '40971202H', '41071112H', '41071102H', '41071107H', '40771213H', '41071109H', '40971108H', '41071127H', '40971231H', '40743117S', '40971125H', '41071211H', '40971118H', '40971119H', '41171212H', '61108025E', '40947062S', '40847058S', '40971104H', '41071122H', '40971227H', '41071111H', '40971213H', '40871117H', '41071104H', '41071117H', '61071009H', '40971209H', '40971208H', '41071133H', '40923117L', '60508014E', '41071110H', '40971113H', '41071118H', '40971115H', '40971114H', '41071106H', '40971121H', '40871123H', '40871225H', '41071101H', '40971207H', '41071108H', '40971105H', '41071119H', '41071116H', '41071132H', '41071129H', '41071105H', '40971103H', 'PECU', '41071134H', '40800116E', '41071227H', '40971124H', '40971226H'}