In [9]:
import pandas as pd

# read csv file
plstudent = pd.read_csv("程式語言選課.csv")
multimediastudent = pd.read_csv("多媒體選課.csv")
plstudent.head()

          學號   姓名  角色
0  41071120H  丁煦芊  學生
1  41071122H  吳亞蓉  學生
2  60971037H  吳沛龍  學生
3  61071009h  吳詩怡  學生
4  40971122H  廖于任  學生

In [11]:
plstu_id= plstudent.drop_duplicates(subset=['學號'])
mulstu_id= multimediastudent.drop_duplicates(subset=['學號'])
plstu_id.head()

          學號   姓名  角色
0  41071120H  丁煦芊  學生
1  41071122H  吳亞蓉  學生
2  60971037H  吳沛龍  學生
3  61071009h  吳詩怡  學生
4  40971122H  廖于任  學生

In [13]:
PL = list(plstu_id['學號'].str.upper()) #強制將所有學號的英文字母都變成大寫
MUL = list(mulstu_id['學號'].str.upper())
PL

['41071120H',
 '41071122H',
 '60971037H',
 '61071009H',
 '40971122H',
 '41171212H',
 '41071119H',
 '40971116H',
 '41071106H',
 '40971225H',
 '41071103H',
 '41071102H',
 '40971229H',
 '41071111H',
 '41071132H',
 '41071133H',
 '40971203H',
 '41071112H',
 '40871117H',
 '41071227H',
 '41071129H',
 '41071104H',
 '41071117H',
 '41071109H',
 '41071105H',
 '40971125H',
 '40923117L',
 '41071205H',
 '41071101H',
 '40923213L',
 '41071213H',
 '41071118H',
 '41071107H',
 '41071124H',
 '91199015Y',
 'PECU',
 '40971130H',
 '41071211H',
 '40971117H',
 '41071108H',
 '41071110H',
 '41071127H',
 '41071116H',
 '41071229H',
 '40871232H',
 '41071134H',
 '41071115H']

In [ ]:
print(PL&MUL)#交集 s1.intersection(s2)
print(PL|MUL)#聯集 s1.union(s2)
print(PL-MUL)#差集 s1.difference(s2)
print(PL-MUL)#差集 s2.difference(s1)
print(PL^MUL)#對稱差集(聯集-交集) s1.symmetric_difference(s2)